BODY,TD,INPUT,TEXTAREA,SELECT {
FONT-FAMILY: Tahoma, Verdana, Arial, ו;
FONT SIZE:12PX;
}
BODY {
	MARGIN: 0PX;
	PADDING: 0PX;
	TEXT-ALIGN: CENTER;
	BACKGROUND-IMAGE: URL(IMAGES/BG2.GIF);
	BACKGROUND-POSITION: CENTER;
	SCROLLBAR-FACE-COLOR: WHITE;
	SCROLLBAR-HIGHLIGHT-COLOR: WHITE;
	SCROLLBAR-SHADOW-COLOR: #ADD0EB;
	SCROLLBAR-3DLIGHT-COLOR: #ADD0EB;
	SCROLLBAR-ARROW-COLOR: #5E9CC7;
	SCROLLBAR-TRACK-COLOR: WHITE;
	SCROLLBAR-DARKSHADOW-COLOR: WHITE;
}
A:LINK {TEXT-DECORATION: NONE; COLOR: Red;}
A:VISITED {TEXT-DECORATION: NONE; COLOR: Red;}
A:HOVER {POSITION: RELATIVE; RIGHT: 0PX; TOP: 1PX; TEXT-DECORATION: NONE; COLOR: #6600FF;}
A:ACTIVE {TEXT-DECORATION: NONE;}